.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h1{
    text-align: center;
    /*font-size: calc(40px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));*/
    /*line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));*/
    font-size: 8vw;
    text-transform: uppercase;
}

.header-text h5{
    text-align: center;
    font-size: 2vw;
}


.btn-theme {
    font-size: 2vw;
    display: inline-block;
    background-color: #F37043 !important;
    color: #fff;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-theme:hover {
    color: #000;
    background-color: #ff7700;
    border-color: #fff;
}