.alwis-auto-logo {
  padding: 0 !important;
  max-width: 100%;
}

.logo-image {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.bd-navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #282c34;
}

.navbar {
  height: 65px !important;
}
