.alwis-auto-logo {
  max-width: 100%;
  height: auto;
}

.bd-navbar {
  padding: 0 !important;
  position: sticky !important;
  min-height: 10vw;
  background-color: red;
}

.navbar-nav a {
  color: #900311;
  font-size: 1.5rem;
  font-weight: 550;
}

.navbar-nav li {
  border-left: 6px #800000;

}

